html, body {
  font-family: "Lucida Grande", tahoma, sans-serif;
  font-size: 100%;
  height: 100%;
  margin: 0;
  width: 100%;
}

#header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #629BBA), color-stop(1.0, #53707F));
  height: 70px;
  position: relative;
}

#main {
  height: 600px;
  position: relative;
}

#hos {
  height: 100%;
  width: 100%;
}

#infobar {
  border: solid black 2px;
  position: absolute;
  right: 0px;
  width: 300px;
}

div.function {
  background-color: green;
  height: 100px;
  position: absolute;
  width: 200px;
}
div.function a {
  bottom: 1px;
  display: block;
  position: absolute;
}
div.function a.left {
  left: 1px;
}
div.function a.right {
  right: 1px;
}
